@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Courier+Prime&family=Nanum+Myeongjo&family=Noto+Sans+TC:wght@700&family=Padyakke+Expanded+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Adobe Myungjo";
    src: local("Adobe Myungjo"), url(./fonts/adobe-myungjo-std-M.otf) format("otf");
  }
  html {
    font-family: "PingFang TC", "Noto Sans TC", Noto Serif TC, serif, system-ui, sans-serif;
  }
  body {
    cursor: url(/src/assets/images/cursor-default.png), default;
  }
}
@layer components {
  .cursor-custom {
    @apply cursor-[url('/src/assets/images/cursor-pointer.png'),_pointer];
  }
}
